@import "../../assets/scssVariable.scss";



.AboutUs {

    .des {
        font-family: 'Poppins', sans-serif;

        .journey {
            .lead {
                font-size: 1.1rem;
            }
        }
    }

    .row {

        .card {
            cursor: pointer;
        }

        .card-0 {
            background-color: $color-1;
            transition: 0.3s ease-in;

            &:hover {
                background-color: darken($color-1, 10%);
                transition: 0.3s ease-out;
            }
        }

        .card-1 {
            background-color: $color-2;
            transition: 0.3s ease-in;

            &:hover {
                background-color: darken($color-2, 10%);
                transition: 0.3s ease-out;
            }
        }

        .card-2 {
            background-color: $color-3;
            transition: 0.3s ease-in;

            &:hover {
                background-color: darken($color-3, 10%);
                transition: 0.3s ease-out;
            }
        }
    }
}