@import "../../assets/scssVariable.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.AboutUs {

    .display-6 {
        color: $primary-color;
        cursor: pointer;
        transition: 0.3s ease-in;

        &:hover {
            color: $secondary-color;
            transition: 0.3s ease-out;
        }
    }

    .des {
        font-family: 'Poppins', sans-serif;

        .journey {
            .lead {
                font-size: 1.1rem;
            }
        }
    }

    .row {

        .card {
            cursor: pointer;
        }

        .card-0 {
            background-color: $color-1;
            transition: 0.3s ease-in;

            &:hover {
                background-color: darken($color-1, 10%);
                transition: 0.3s ease-out;
            }
        }

        .card-1 {
            background-color: $color-2;
            transition: 0.3s ease-in;

            &:hover {
                background-color: darken($color-2, 10%);
                transition: 0.3s ease-out;
            }
        }

        .card-2 {
            background-color: $color-3;
            transition: 0.3s ease-in;

            &:hover {
                background-color: darken($color-3, 10%);
                transition: 0.3s ease-out;
            }
        }
    }
}