@import "../../assets/scssVariable.scss";

.Scholarship {
    background-color: $color-2;

    .d-flex {
        .flex-left {
            width: 50%;


            .title {
                line-height: 1.2;

                span {
                    color: $color-4;
                    -webkit-text-stroke: 1px darken($color: $color-4, $amount: 1);
                }
            }

            .btn-container {
                a {
                    @include transition-in;
                    // box-shadow: 0px 3px 12px 0px $color-4;
                    background-color: $color-4;
                    color: white;
                    font-weight: bold;
                    border: 1px solid $white;
                    border-radius: 2rem;

                    &:hover {
                        background-color: $color-2;
                        color: $white;
                        @include transition-out;
                        border-radius: .3125rem;
                    }
                }
            }
        }

        .flex-right {
            max-width: 30%;
            margin: auto;

            img {
                width: 100%;
                height: auto;
            }

        }
    }

}

@media screen and (max-width: 768px) {
    .Scholarship {
        .d-flex {
            flex-direction: column;

            .flex-left {
                width: 100%;

                .btn-container {
                    text-align: center;
                }
            }

            .flex-right {
                max-width: 50%;
                // display: none;
            }
        }
    }
}