@import "../../assets/scssVariable.scss";

.QuizNavbar {

    .quiz-navbar {
        // flex-wrap: wrap;

        .quiz-head-box {
            background-color: $color-2;
            color: $white;
            padding: 0.7rem 1rem;
        }
    }
}