$primary-color: #03045e;
$primary-color-2: #030577;
$secondary-color: #00003d;
$font-grey: #37423b;
$white: #fff;
$grey: #eef0ef;
$grey-2: #f9faf9;
$light-blue: #d6ebff;

// new colors
$color-1: #941b0c;
$color-2: #014f86;
$color-3: #ff499e;


// mixin

@mixin transition-in {
    transition: 0.3s ease-in;
}

@mixin transition-out {
    transition: 0.3s ease-out;
}