@import "../../assets/scssVariable.scss";

.nav {

    li {
        width: 6rem;
        border-radius: 5px;
        margin: 0 0.1rem;
        transition: 0.3s ease-in;

        &:hover {
            transition: 0.3s ease-out;
            background-color: $secondary-color;
        }
    }

    .nav-link {
        color: $font-grey;
        text-align: center;
        font-weight: 600;

        &.active {
            color: $primary-color;
        }

        &:hover {
            color: $white;
        }

        .nav-icon {
            font-size: 1.3rem;
            margin-bottom: -0.1rem;
        }
    }

}